<div class="homepage-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <h1>ยื่นคำร้องออนไลน์</h1>
  <html>
    <head>
    </head>
    <body><div class="area"></div><nav class="main-menu">
              <ul>
                  <li>
                      <a href="homepage">
                          <i class="fa fa-home fa-2x"></i>
                          <span class="nav-text">
                              หน้าหลัก
                          </span>
                      </a>

                  </li>
                  <li class="has-subnav">
                      <a href="registration">
                          <i class="fa fa-laptop fa-2x"></i>
                          <span class="nav-text">
                              ลงทะเบียนเรียน
                          </span>
                      </a>

                  </li>
                  <li class="has-subnav">
                      <a href="schedule">
                         <i class="fa fa-list fa-2x"></i>
                          <span class="nav-text">
                              ตารางสอน/ตารางสอบ
                          </span>
                      </a>

                  </li>
                  <li class="has-subnav">
                      <a href="course">
                         <i class="fa fa-folder-open fa-2x"></i>
                          <span class="nav-text">
                              รายวิชาที่เปิดการสอน
                          </span>
                      </a>

                  </li>
                  <li>
                      <a href="petition">
                          <i class="fa fa-bar-chart-o fa-2x"></i>
                          <span class="nav-text">
                              ยื่นคำร้องออนไลน์
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <i class="fa fa-font fa-2x"></i>
                          <span class="nav-text">
                             ข่าวและกิจกรรม
                          </span>
                      </a>
                  </li>
              </ul>

              <ul class="logout">
                  <li>
                     <a href="login">
                           <i class="fa fa-power-off fa-2x"></i>
                          <span class="nav-text">
                              Logout
                          </span>
                      </a>
                  </li>
              </ul>
          </nav>
    </body>
      </html>
</div>
